// sass --watch css/styles.scss css/styles.min.css --style compressed
// Author: Carlos Alvarez Linares
// Author URI: https://carlosalvarezlinares.com/
// Version: 1.0

body {
  margin: 0;
  padding: 0;
}

.carousel-item {
  max-height: 40vh;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.-nightmode {
  background: #000 !important;
  color: #fff !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: #fff !important;
  }
}
// .container.-nightmode .content-inner {
//   width: 100% !important;
//   margin: 0 !important;
//   padding: 0 !important;
// }

.container.-nightmode .content-inner,
.container.-nightmode .content-inner img,
.container.-nightmode .content-inner video {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}
