// sass --watch css/styles.scss css/styles.min.css --style compressed
// Author: Carlos Alvarez Linares
// Author URI: https://carlosalvarezlinares.com/
// Version: 1.0
*,
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#goTop {
  display: none;
  z-index: 999;
}

.logo {
  width: 40px;
}

.float-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.carousel-item {
  height: 40vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.-nightmode {
  background: #000 !important;
  color: #fff !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: #fff !important;
  }
}
// .container.-nightmode .content-inner {
//   width: 100% !important;
//   margin: 0 !important;
//   padding: 0 !important;
// }

.container.-nightmode .content-inner,
.container.-nightmode .content-inner img,
.container.-nightmode .content-inner video {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}

#foro {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  iframe {
    width: 100%;
    height: 76.6vh;
    padding: 0;
    margin: 0;
  }
}
