//sass --watch css/styles.scss css/styles.min.css --style compressed
// Author: Carlos Alvarez Linares
// Author URI: https://carlosalvarezlinares.com/
// Version: 1.0

body {
  margin: 0;
  padding: 0;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  object-fit: contain;
}
